Repository guanruhuang-nebius/nebius-solutions-library, changes with the owners that CODEOWNERS names for each.
All owners: @malibora, @jadnov, @elijah-k-nebius, @rdjjke, @asteny, @cyril-k, @alex000kim, @aaroniscode, @secrettoad, @d3vil-st, @dstaroff, @Uburro, @itechdima, @theyoprst, @ChessProfessor

Add H200 platform to us-central1
  soperator/modules/available_resources/platform.tf
Owners: @dstaroff, @asteny, @rdjjke, @Uburro, @itechdima, @theyoprst, @ChessProfessor

ARCHVTEAMS-1003 Add release notes as mandatory descriptions
  .github/workflows/pull_request_template.md
Owners: @malibora, @d3vil-st, @elijah-k-nebius, @jadnov, @aaroniscode, @secrettoad

testing PR
  README.md
Owners: @malibora, @jadnov, @elijah-k-nebius, @rdjjke, @asteny, @cyril-k, @alex000kim, @aaroniscode, @secrettoad

ARCHVTEAMS-1003 fix template location
  .github/pull_request_template.md
Owners: @malibora, @jadnov, @elijah-k-nebius, @rdjjke, @asteny, @cyril-k, @alex000kim, @aaroniscode, @secrettoad

ARCHVTEAMS-1003 biweekly release with github ation
  .github/workflows/biweekly_release.yml
  version.yaml
Owners: @malibora, @d3vil-st, @elijah-k-nebius, @jadnov, @aaroniscode, @secrettoad, @rdjjke, @asteny, @cyril-k, @alex000kim

ARCHVTEAMS-1003 biweekly release with github ation
  .github/workflows/biweekly_release.yml
Owners: @malibora, @d3vil-st, @elijah-k-nebius, @jadnov, @aaroniscode, @secrettoad

ARCHVTEAMS-1003 test workflow
  .github/workflows/biweekly_release.yml
Owners: @malibora, @d3vil-st, @elijah-k-nebius, @jadnov, @aaroniscode, @secrettoad

ARCHVTEAMS-1003 test workflow
  version.yaml
Owners: @malibora, @jadnov, @elijah-k-nebius, @rdjjke, @asteny, @cyril-k, @alex000kim, @aaroniscode, @secrettoad

ARCHVTEAMS-1003 test workflow
  .github/workflows/biweekly_release.yml
Owners: @malibora, @d3vil-st, @elijah-k-nebius, @jadnov, @aaroniscode, @secrettoad

ARCHVTEAMS-1003 test workflow
  .github/workflows/biweekly_release.yml
Owners: @malibora, @d3vil-st, @elijah-k-nebius, @jadnov, @aaroniscode, @secrettoad

ARCHVTEAMS-1003 test workflow
  .github/workflows/biweekly_release.yml
Owners: @malibora, @d3vil-st, @elijah-k-nebius, @jadnov, @aaroniscode, @secrettoad

ARCHVTEAMS-1003 test workflow
  .github/workflows/biweekly_release.yml
Owners: @malibora, @d3vil-st, @elijah-k-nebius, @jadnov, @aaroniscode, @secrettoad

ARCHVTEAMS-1003 test workflow
  .github/workflows/biweekly_release.yml
Owners: @malibora, @d3vil-st, @elijah-k-nebius, @jadnov, @aaroniscode, @secrettoad

ARCHVTEAMS-1003 test workflow
  .github/workflows/biweekly_release.yml
Owners: @malibora, @d3vil-st, @elijah-k-nebius, @jadnov, @aaroniscode, @secrettoad

ARCHVTEAMS-1003 Add workflow and PR template
  version.yaml
Owners: @malibora, @jadnov, @elijah-k-nebius, @rdjjke, @asteny, @cyril-k, @alex000kim, @aaroniscode, @secrettoad

ARCHVTEAMS-1003 Add biweekly release workflow and PR template
  .github/pull_request_template.md
  .github/workflows/biweekly_release.yml
  version.yaml
Owners: @malibora, @jadnov, @elijah-k-nebius, @rdjjke, @asteny, @cyril-k, @alex000kim, @aaroniscode, @secrettoad, @d3vil-st

testing
  .github/workflows/biweekly_release.yml
Owners: @malibora, @d3vil-st, @elijah-k-nebius, @jadnov, @aaroniscode, @secrettoad

CODEOWNERS:

# Global code owners (applies to the whole repo)
* @malibora @jadnov @elijah-k-nebius @rdjjke @asteny @cyril-k @alex000kim @aaroniscode @secrettoad

.github/workflows @malibora @d3vil-st @elijah-k-nebius @jadnov @aaroniscode @secrettoad

.github/workflows/soperator.yml @dstaroff @asteny @rdjjke @Uburro @itechdima @theyoprst @ChessProfessor
soperator/ @dstaroff @asteny @rdjjke @Uburro @itechdima @theyoprst @ChessProfessor
